  <% if user_signed_in? or admin_signed_in? %>
<h2>掲載商品一覧</h2>

    <% @products.each do |product| %>
      <div class="product-box clearfix">
        <ul class="product-info">
          <li>品種 / <%= product.product_grade %></li>
          <li>メーカー / <%= product.supplier %></li>
          <li>商品名 / <%= product.product_name %></li>
          <li>米坪 / <%= product.basis_weight %></li>
          <li>幅 / <%= product.width %></li>
          <li>流れ / <%= product.length %></li>
          <a><%= link_to '詳細はこちら', "/products/#{product.id}",  method: :get %></a>
       </ul>
        <img src="http://www.kpps.jp/papermall/attachFile/ST0215-A1D-0000003565.JPG">
      </div><br>
    <% end %>

<% end %>
